<ul>
<h2>Details</h2>
<li><%= @restaurant.name %></li>
<li><%= @restaurant.address %></li>
<li><%= @restaurant.phone_number%></li>
<li><%= @restaurant.category %></li>
</ul>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">Rating:  <%= review.rating %>. <%= review.content %></li>

  <% end %>
</ul>
<br>

<h1>New review</h1>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
